/* #container{
  max-width:780px;
  margin:20px auto;
}

h1{
  font-size:40px;
  font-family: sans-serif;
  color:#494646;
  text-align:center;
}

h2{
  font-size:32px;
  font-family: sans-serif;
  font-weight:normal;
  color:gray;
  text-align:center;
}
 */
#banner{
  width:100%;
  height:360px;
  object-fit:cover;
  margin-bottom:16px
}

/* .info{
  text-align:justify;
  line-height:1.5em;
} */