<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ghost Careers</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div id="container">
  <h1>Ghost Careers</h1>
  <img id="banner" src="static/banner.png" alt="">
  <h2>About Ghost</h2>
  <p class="info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio pellentesque diam volutpat commodo. Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Odio facilisis mauris sit amet massa vitae tortor. A condimentum vitae sapien pellentesque habitant morbi tristique.
  </p>
  <h2>Open Positions</h2>
  <p>Todo</p>
    <div style="text-align:center">
    <button>Contact Us</button>
      <p>
        Copyright Ghost
      </p>
    </div>
  </div>
</body>
</html>