<div class="mb-4 border-bottom pb-4 row">
  <div class="col-10">
    <h4> {{job["title"]}}</h4>
    <div>
      <b>Location:</b> {{job["location"]}}
    </div>
    {% if "salary" in job %}
    <div>
      <b>Salary:</b> {{job["salary"]}}
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <a href="mailto:theghostnetwork@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%20%3A%20%3Cname%3E%0D%0A%0D%0AMy%20Resume%20%3A%20%3Cresume%3E%0D%0A%0D%0AMy%20LinkedIn%20%3A%20%3CLinkedIn%3E" class="btn btn-outline-primary">Apply</a>
  </div>
  
</div>